.small-card-arrow-container,
.small-card-non-scroll-container,
.small-card-scroll-container {
  margin-top: 20px;
  .small-card-arrow-wrapper,
  .small-card-non-scroll-wrapper,
  .small-card-scroll-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #ffff;
    max-width: 300px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
  }
}

.small-card-non-scroll-wrapper {
  margin-top: 10px !important;
}

.small-card-scroll-container {
  display: flex;
  max-width: 320px;
  margin: auto;
  overflow-x: scroll;
  margin-top: 20px;
  .small-card-scroll-wrapper {
    margin-right: 15px;
    min-width: 232px;
  }
}
